.modal_search {
	width: 100%;
	position: fixed;
	height: 100%;
	z-index: 100;
	top: -1000px;
	background-color: var(--color-white);
	transition: 0.5s all;
	box-shadow: var(--box-shadow-black-blur);
}
.see_modal_search {
	top: 0px;
}
.modal_search_title {
	color: var(--color-text-titles);
	text-align: center;
	margin-top: 50px;
	font-size: 16px;
	text-transform: uppercase;
	padding: 5px;
}
.icon_close_modal_search {
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 26px;
	color: var(--color-icon);
}
.form_search {
	display: flex;
	align-items: center;
	padding: 20px;
	justify-content: center;
	margin-top: 20px;
}
.content_search {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.icon_search {
	cursor: pointer;
	font-size: 20px;
	color: var(--color-icon);
}
.input_search {
	flex-basis: 90%;
}
.list_product_found {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 20px;
	width: var(--width-container);
	max-height: 60%;
	margin: 0 auto;
	overflow: auto;
}
.item_list_product {
	display: flex;
	gap: 10px;
	padding: 10px;
	cursor: pointer;
	color: var(--color-icon);
	border-bottom: 1px solid var(--color-text-titles);
}
.info_item_product {
	font-size: 13px;
}
.info_item_product > p:last-child {
	margin-top: 10px;
	font-weight: bold;
}
.img_product_item_list {
	width: 80px;
	height: 80px;
	border-radius: var(--border-radius-box);
	object-fit: cover;
}
.not_found_products {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
}
.not_found_products > h3{
	color: var(--color-icon);
}
.not_found_products > img {
	width: 300px;
}

@media screen and (min-width: 768px) {
	.list_product_found {
		grid-template-columns: repeat(3, 1fr);
		gap: 10px;
	}
}

@media screen and (min-width: 800px) {
	.content_search {
		width: 80%;
	}

	.modal_search_title {
		font-size: 20px;
	}
}

@media screen and (min-width: 1000px) {
	.content_search {
		width: 70%;
	}
}
@media screen and (min-width: 1200px) {
	.list_product_found {
		grid-template-columns: repeat(4, 1fr);
		gap: 15px;
	}
}
