.title_history_orders{
	margin-top: 80px;
	margin-bottom: 50px;
}
.container_table_orders{
	width: var(--width-container);
	margin: 0px auto;
}
.list_products_order{
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.item_order_img{
	width: 100px;
	border-radius: var(--border-radius-box);
}

.resp_order {
	width: 100%;
	background: white;
	margin-bottom: 1.25em;
	border: solid 1px var(--color-text-titles);
	border-collapse: collapse;
	border-spacing: 0;
}

.resp_order tr th,
.resp_order tr td {
	padding: 0.5625em 0.625em;
	font-size: 0.875em;
	color: #222222;
	border: 1px solid #dddddd;
}

.resp_order tr.even,
.resp_order tr.alt,
.resp_order tr:nth-of-type(even) {
	background: var(--bg-row-table);
}

.resp_order > tbody > tr > td {
	text-align: center;
}


@media only screen and (max-width: 768px) {
	table.resp_order,
	.resp_order thead,
	.resp_order tbody,
	.resp_order tr,
	.resp_order th,
	.resp_order td,
	.resp_order caption {
		display: block;
	}

	table.resp_order {
		border: none;
	}

	.resp_order thead tr {
		display: none;
	}

	.resp_order tbody tr {
		margin: 1em 0;
		border: 1px solid var(--color-text-titles);
		border-radius: var(--border-radius-box);
	}

	.resp_order td {
		border: none;
		border-bottom: 1px solid #dddddd;
		position: relative;
		padding-left: 45%;
		text-align: left;
	}

	.resp_order tr td:last-child {
		border-bottom: 1px double #dddddd;
	}

	.resp_order tr:last-child td:last-child {
		border: none;
	}

	.resp_order td:before {
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
		text-align: left;
		font-weight: bold;
	}
	td:nth-of-type(1):before {
		content: "Productos";
	}

	td:nth-of-type(2):before {
		content: "Total";
	}

	td:nth-of-type(3):before {
		content: "Fecha";
	}

	td:nth-of-type(4):before {
		content: "Estado";
	}

	td:nth-of-type(5):before {
		content: "Dirección";
	}

}
