.title_history_orders{
	margin-top: 80px;
	margin-bottom: 50px;
}
.container_table_orders{
	width: var(--width-container);
	margin: 0px auto;
}
.list_products_order{
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.item_order_img{
	width: 100px;
	border-radius: var(--border-radius-box);
}
.info_order{
	display: grid;
	grid-template-columns: repeat(1,1fr);
	gap: 30px;
}
.content_info_order{
	border: 1px solid rgba(0, 0, 0, 0.301);
	padding: 10px;
}
.item_info > p{
	font-weight: bold;
	margin-bottom: 4px;
	font-size: 14px;
}
.item_info > p >span{
	font-size: 14px;
	color: var(--color-icon);
}
.btn_view_details{
	padding: 5px 8px;
	border-radius: var(--border-radius-box);
	margin-top: 15px;
	display: flex;
	align-items: center;
	transition: 0.6s;
	background-color: rgba(0, 0, 0, 0.507);
	gap: 10px;
	cursor: pointer;
	color: white;
}
.btn_view_details:hover {
	background-color: rgba(0, 0, 0, 0.725);
}
.btn_view_details> i{
	font-size: 20px;
}
@media screen and (min-width:600px) {
	.info_order{
		display: grid;
		grid-template-columns: repeat(2,1fr);
		gap: 30px;
	}
}
@media screen and (min-width:900px) {
	.info_order{
		display: grid;
		grid-template-columns: repeat(3,1fr);
	}
}