.grid_products {
  display: grid;
  /* grid-template-columns: repeat(auto-fit,minmax(220px, 1fr)); */
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
	width: var(--width-container);
	margin: 0 auto;
}
.message_list_products{
	font-size: 16px;
	margin-top: 10px;
	color: var(--color-icon);
}
@media screen and (min-width:700px) {
	.grid_products{
		grid-template-columns: repeat(3,1fr);
	}
}
@media screen and (min-width:900px) {
	.grid_products{
		grid-template-columns: repeat(4,1fr);
	}
}