.container_products_news{
	padding-top: var(--padding-top-section);
	width: var(--width-container);
	margin: 0 auto;
}
.container_title_products_news{
	padding-bottom: var(--padding-bottom-title-section);
}


