.top_up_icon{
	position: fixed;
	bottom: -700px;
	right: 20px;
	background-color: #f1a0b5;
	height: 45px;
	width: 45px;
	display: flex;
	transition: .6s;
	align-items: center;
	z-index: 10;
	justify-content: center;
	font-size: 30px;
	color: var(--color-white);
	border-radius: 50%;
	cursor: pointer;
	box-shadow: var(--box-shadow-black-blur);
}
.see_to_up{
	bottom: 90px;
}