.figure_icon_whatsapp{
	position: fixed;
	bottom: 20px;
	right: 15px;
	height: 55px;
	width: 55px;
	font-size: 40px;
	padding: 20px;
	background-color: #25D366;
	transition: .6s;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10;
	cursor: pointer;
	border-radius: 50%;
	box-shadow: var(--box-shadow-black-blur);
	cursor: pointer;
}

