.container_footer{
	padding: var(--padding-top-section) 20px;
	background-color: rgba(0, 0, 0, 0.585);
}
.info_footer{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 50px;
	text-align: center;
}
.content_info_footer li{
	margin-top: 15px;
	font-size: 13px;
	color: rgb(231, 227, 227);
}
.info_footer_title{
	text-transform: uppercase;
	position: relative;
	font-size: 16px;
	padding-bottom: 5px;
	color: var(--color-text-titles);
}
.info_footer_title::before{
	content: "";
	position: absolute;
	bottom: 0px;
	left: 50%;
	height: 1px;
	background-color: rgb(255, 255, 255);
	width: 50%;
	transform: translateX(-50%);
}